* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(30deg, black, yellow, black);
    background-attachment: fixed;
}

#container-fluid {
    width: 80%;
    background: rgba(0, 0, 35, .6);
    margin-left: 10%;
    position: absolute;
    bottom: 0;
    top: 0;
}

#mainTitle {
    color: red;
    text-align: center;
}

#nav {
    width: 100%;
    height: 2.5em;
    background: rgba(0, 0, 255, .4);
}

button {
    float: right;
}

#row {
    width: 40%;
    float: right;
}

form {
    font-size: 1.25em;
    font-family: Georgia;
    display: none;
    background-color: rgba(0, 0, 255, .3);
    padding: 1em;
    border: 2px solid black;
    border-radius: 20px;
    color: yellow;
}

#list {
    width: 40%;
}

ul {
    margin: 2em;
    font-size: 1.25em;
    font-family: Georgia;
    list-style-type: none;
}

#movieDetails {
    width: 90%;
    display: none;
    color: white;
    background: rgba(0,0,255,.4);
    border-radius: 20px;
    padding: 1em;
}
li
{
    border-bottom: 1px dashed black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px dashed black;
}
#submit {
    color: red;
}

.color {
    color: black;
}
#checkIn
{
    display: none;
}
#checkOut
{
    display: block;
}
